
#page-wrapper {
	padding-left: 15px;
	padding-right: 15px;
	background-color: #fff;
	overflow: hidden;
	position: relative
}
.box-layout {
	margin: 0 auto;
	width: 1280px;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 9;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}
.body_overlay {
	position: relative
}
.body_overlay:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .40);
}


/

body {
	font-family: 'Comfortaa', cursive;
	font-size: 15px;
	line-height: 28px;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
}
h4, .h4 {
	line-height: 35px
}
h5 {
	font-size: 18px;
	line-height: 30px
}
h6, .h6 {
	line-height: 25px
}
ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}
p {
	line-height: 28px;
	margin-bottom: 10px;
}
a, a:hover, .btn-link, .btn-link:hover {
	text-decoration: none;
    font-family: 'Comfortaa', cursive;
	font-size: 15px;
	line-height: 28px;
}
img {
	width: 100%
}
button, button:focus {
	border: none;
	outline: none
}
.btn {
	padding: 0px 23px;
	font-size: 14px;
	border-radius: 0;
	line-height: 46px;
	font-weight: 500
}
.btn-lg {
	padding: 0px 30px !important;
	line-height: 60px !important;
}
.btn-primary:hover {
	filter: brightness(115%);
}

.full-row {
	position: relative;
	width: 100%;
	padding: 50px 0;
}
.banner-full-row {
	position: relative;
	width: 100%;
	padding: 100px 0;	
}

.landing-header.fixed-top .main-nav {
	padding-top: 0 !important;
	padding-bottom: 0 !important
}

.nav-on-top {
	animation-fill-mode: both;
	width: 100%;
	z-index: 999;
	top: 0;
	position: absolute;
}

a .nav-link{
     font-family: 'Comfortaa', cursive;
	font-size: 15px;
	line-height: 28px;
}


.py-80 {
	padding-top: 80px;
	padding-bottom: 80px
}
.py-40 {
	padding-top: 60px;
	padding-bottom: 20px
}
.line-menu li {
	float: left
}
.line-menu li:nth-child(2n) {
	margin: 0 15px;
}

blockquote {
	margin: 40px 20px 40px 30px;
	font-size: 18px;
	font-weight: 500;
	border-left: 5px solid #f5f5f5;
	padding-left: 30px;
	line-height: 35px;
}

 /*Top Header CSS*/
.top-header {
	line-height: 50px
}
.top-header .dropdown-toggle::after {
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.nav-on-banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.top-contact li {
	float: left;
	margin-right: 20px;
}
.top-contact li svg {
	margin-right: 5px;
	font-size: 13px
}
.list-text-white a.dropdown-item {
	line-height: 30px
}
.logo-hide .navbar-brand {
	display: none
}
.fixed-top .logo-hide .navbar-brand {
	display: block
}
.nav-logo-with-bg .navbar-brand {
	padding: 40px 15px;
	margin-top: -50px
}
.nav-logo-with-bg .navbar-brand::before {
	position: absolute;
	content: "";
	top: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	border-top: 40px solid;
	z-index: 99;
}
.currency select {
	background: none;
	border: none
}
.dropdown-toggle::after {
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	vertical-align: 1px;
	font-size: 14px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 12px 15px;
	margin-right: 2px;
	font-size: 15px;
	border-radius: 3px;
	font-weight: 500
}
.hover-border-white-nav .navbar-nav .nav-link {
	border: 1px solid transparent;
}
.single-box{   
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 320px;
  height: 420px;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  
}
.col-md-6 col-lg-4{  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  text-align: center;
  margin-left: 10px;
  padding: 40px;
  margin-right: 10px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);    
}
.row {
   display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
    
}
.content-body{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  margin: 30px;
}
.service-box{
    display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 320px;
  height: 300px;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



